<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internwise</title>
    <link rel="stylesheet" href="scripts/cssgroup/mainpage.css">
</head>
<body>
<div class="header">
    <div class="search-bar">
        <input type="text">
    </div>
    <div class="login-button">Log In</div>
    <div class="signup-button">Sign Up</div>
</div>
<div class="logo-container">
    <img id="logo" src="images/LOGO.png" alt="Logo Image">
</div>
<div id="content">
    <p>De ce nu merge???</p>
</div>
<script src="scripts/jsFyles/mainpage.js"></script>
</body>
</html>
