<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Bar</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .search-bar {
            background-color: #B0E3FD;
            border-radius: 15px;
            height: 58px;
            width: 670px;
            position: absolute;
            top: 30px;
            left: 50px;
        }
    </style>
</head>
<body>
<div class="search-bar"></div>
</body>
</html>
